* {
    margin: 0px;
    padding: 0px;
}

div {
    margin: 10px;
}

#container {
    padding: 100px;
}

#search_button {
    height: 30px;
    width: 150px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #00d1b2;
    border: 2px solid #00d1b2; 
}

#add_button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 24px;
    color: white;
    background-color: #00d1b2;
    border: 2px solid #00d1b2;
}

#create_button {
    height: 40px;
    width: 200px;
    color: white;
    background-color: blue;
    font-size: 16px;
    border: 3px solid black;
    box-shadow: 5px 5px black;
}